:root {
	--main-font-size: 62.5%;
	--wrapper-offset: 10.6rem;
	--wrapper-size: 122.8rem;
	--section-offset: 4rem;

	@include large-desktop {
		--main-font-size: #{div(100, div(1440, 10))}vw;
	}

	@include small-desktop {
		--main-font-size: #{div(100, div(1440, 9))}vw;
	}

	@include large-tablet {
		--main-font-size: 50%;
		--wrapper-offset: 7.4rem;
		--section-offset: 3rem;
	}

	@include small-tablet {
		--wrapper-offset: 4.2rem;
	}

	@include large-mobile {
		--main-font-size: 62.5%;
		--wrapper-offset: 1rem;
		--section-offset: 2rem;
	}

	@include small-mobile {
		--main-font-size: #{div(100, div(320, 10))}vw;
	}
}
