.section-page-navigation {
	position: fixed;
	inset: 0 0 auto;
	z-index: 50;
	padding: 1rem 0;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 4px 15px 0 rgb(13 71 68 / 10%);
	transition-property: transform, opacity;

	@include default-transition-state;

	&:not(.is-visible) {
		opacity: 0;
		transform: translateY(-100%);
	}

	&__wrapper {
		display: flex;
		flex-flow: row nowrap;
		gap: 4rem;
		align-items: center;

		@include large-tablet {
			gap: 2.5rem;
			padding: 0 var(--wrapper-offset);

			@include overflow-x-scroll;
			@include scrollbar-hidden;
		}

		@include large-mobile {
			gap: 1rem;
		}
	}

	&__logo {
		flex: 0 0 13.8rem;

		@include large-tablet {
			flex-basis: 11.2rem;
		}

		@include large-mobile {
			flex-basis: 8.6rem;
		}
	}

	&__navigation-list {
		gap: 1rem;

		@include min-large-tablet {
			display: grid;
			grid-template-columns: repeat(4, 1fr) repeat(2, 13.5rem);
		}

		@include large-tablet {
			display: flex;
			flex: 0 0 auto;
			flex-flow: row nowrap;
		}

		&-item {
			@include large-tablet {
				flex: 0 0 auto;
				max-width: 20rem;
			}
		}
	}

	&__item-navigation {
		&:hover {
			@include large-tablet {
				box-shadow: unset;
			}
		}

		&:not(.is-active) {
			border-color: transparent;
		}
	}
}
