.section-hero {
	padding-top: 4rem;
	overflow: hidden;

	@include large-tablet {
		padding-top: 2.8rem;
	}

	@include large-mobile {
		padding-top: 1.6rem;
	}

	&__navigation-list {
		gap: 2rem;

		@include min-large-tablet {
			display: grid;
			grid-template-columns: repeat(4, 1fr) repeat(2, 14.2rem);
		}

		@include large-tablet {
			display: flex;
			flex-flow: row nowrap;
			gap: 1.5rem;
			padding: 0 var(--wrapper-offset);
			margin: 0 calc(-1 * var(--wrapper-offset));

			@include overflow-x-scroll;
			@include scrollbar-hidden;
		}

		@include large-mobile {
			gap: 1rem;
		}

		&-item {
			@include large-tablet {
				flex: 0 0 auto;
			}
		}
	}

	&__item-navigation {
		&:hover {
			@include large-tablet {
				box-shadow: unset;
			}
		}
	}

	&__slider {
		margin-top: 2rem;

		@include large-tablet {
			margin-top: 1.8rem;
		}

		@include large-mobile {
			margin-top: 1.6rem;
		}

		&:not(:hover) {
			.slider-button {
				pointer-events: none;
			}
		}

		&:not(.is-initialized) {
			.splide {
				visibility: visible;

				&__slide {
					width: 100%;
				}
			}
		}

		&:hover {
			.section-hero {
				&__slider {
					&-navigation {
						opacity: 1;
					}
				}
			}
		}

		&-navigation {
			opacity: 0;

			@include large-tablet {
				display: none;
			}
		}

		&-pagination {
			margin-top: 2rem;

			@include large-tablet {
				margin-top: 1.5rem;
			}

			@include large-mobile {
				margin-top: 1rem;
			}
		}

		.splide {
			&__track {
				border-radius: 2rem;
			}

			&:not(.is-initialized) {
				visibility: visible;

				.splide {
					&__slide {
						width: 100%;
					}
				}
			}
		}
	}
}
