//- core
include core/bemto/bemto
include core/svg-icon
include core/slider/slider-core

//- buttons
include buttons/button-primary
include buttons/button-icon
include buttons/button-burger

//- items
include items/item-navigation
include items/item-preview
include items/item-category
include items/item-preview-video
include items/item-card

//- forms
include forms/form-field

//- parts
include parts/part-header
include parts/part-main-content
include parts/part-footer
include parts/part-breadcrumb
include parts/part-icon-box

//- modules
include modules/module-photo

//- tooltips

//- popups
include popups/popup-video
include popups/popup-products

//- sections
include sections/section-core
include sections/section-hero
include sections/section-category
include sections/section-cards
include sections/section-page-navigation
